.category {
  font-size: 2rem;
  box-sizing: border-box;
  font-weight: bolder;
  border: solid 4px var(--foreground);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  margin-bottom: 1rem
}

.category.active {
  color: var(--background);
  background-color: var(--foreground);
}

.category i {
  margin-right: 0.5rem;
}