.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;

  position: absolute;
  --height: max(90vh, 600px);
  height: var(--height);
  width: calc(var(--height) / 3 * 4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template:
    "a d" 2fr
    "b e" 5fr
    "c e" 5fr
    / 2fr 1fr;
  gap: 1rem;

  font-family: var(--font-geist-sans);
}

.page>* {
  overflow: scroll;
}

.stock_ticker {
  grid-area: a;
}

.function_panel {
  grid-area: b;
  position: relative;
}

.news {
  grid-area: c;
}

.stats {
  grid-area: d;
  align-self: stretch;
}

.asset_menu {
  grid-area: e;
}